---
---

@import "{{ site.theme }}";


a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  color:  #494949;
  font-weight: normal;
}

a:hover {
  color: #494949;
  font-weight: bold;
}

hr {
  background: #333;
}

body {
  color: #555;
  font: 14px/1.5 Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sitebar-links {
  p {
    text-align: right;
  }
  @media (max-width: 960px) {
    p {
      text-align: center;
    }
  }
  padding-top: 20px;
  a {
    color: #222;
    font-size: 16px;
    font-weight: bold;
  }
}

.contact-links {
  p {
    text-align: center;
  }
  a {
    color: #222;
    font-size: 16px;
    font-weight: bold;
  }
}

// Products

p.products {
  display: flex;
  justify-content: space-between;
  margin: 0;

  a{
    min-height: 80px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

p.products .col {
  width: 32%;
  margin: 8px;
  padding: 8px;
  border: 1px solid black;
}